$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$main-bg: hsl(217, 54%, 11%);
$card-bg: hsl(216, 50%, 16%);
$color-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);
$font-size-base: 1rem;
$font-size-small: 0.875rem;
$font-size-medium: 1.125rem;
$font-size-large: 1.375rem;
$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 600;
$w-full: 100%;
$space-xs: 4px;
$space-s: 8px;
$space-base: 16px;
$space-l: 20px;
$space-xl: 24px;
$space-xxl: 28px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $main-bg;
  font-family: 'Outfit', sans-serif;
  overflow: hidden;
}

.modal {
  height: 576px;
  width: 90%;
  max-width: 350px;
  padding: $space-xxl;
  background: $card-bg;
  border-radius: 12px;

  &_layer {
    position: relative;
    height: 60%;
    width: $w-full;
    border-radius: 8px;
    overflow: hidden;
  }

  &_img {
    display: inline-block;
    height: 100%;
    width: $w-full;
    object-fit: cover;
  }

  &_eye_icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: 0.3s ease-in-out;
    transform: translate(-50%, -50%);
  }

  &_content {
    margin-top: $space-l;
    color: $soft-blue;
  }

  &_title {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $white;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    &:hover {
      color: $cyan;
    }
  }

  &_text {
    margin: $space-base 0;
    font-weight: $font-weight-light;
  }

  &_info {
    padding-bottom: $space-base;
    border-bottom: 1px solid $color-line;
    display: flex;
    justify-content: space-between;
  }

  &_price {
    color: $cyan;
  }

  &_price,
  &_time {
    display: flex;
    align-items: center;
    gap: $space-xs;
  }

  &_author {
    margin-top: $space-base;
    display: flex;
    align-items: center;
    font-weight: $font-weight-light;

    &_avatar {
      height: 32px;
      width: 32px;
      margin-right: $space-base;
      object-fit: cover;
      border: 1px solid $white;
      border-radius: 50%;
    }

    &_name {
      display: inline-block;
      margin-left: $space-xs;
      color: $white;
      cursor: pointer;
      transition: 0.5s ease-in-out;

      &:hover {
        color: $cyan;
      }
    }
  }
}

@media (min-width: 768px) {
  .modal {
    &_layer:hover &_eye_icon {
      opacity: 1;
    }

    &_layer {
      cursor: pointer;

      &:hover::before {
        opacity: 0.4;
      }

      &::before {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        background: $cyan;
        transition: 0.5s ease-in-out;
        content: '';
      }
    }
  }
}

@media (min-width: 992px) {
  .modal {
    height: 564px;
    padding: $space-xl;

    &_text {
      margin: $space-l 0;
    }

    &_layer {
      height: 55%;
    }

    &_info {
      padding-bottom: $space-xl;
    }

    &_text {
      font-size: $font-size-medium;
    }
  }
}
